
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>دسترسی Admin</h2>
@if(User.IsInRole("Admin"))
{
<p>سلام ادمین</p>
}
@if(User.IsInRole("Guess"))
{
<p>سلام مهمان</p>
}

